{% load static %}

<!DOCTYPE html>
<html lang="ru-ru" dir="ltr">

 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8" />
  <link href="https://reestr54.ru//images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <meta name="yandex-verification" content="" />
  <meta name="robots" content="index, follow" />
   <meta property="og:title" content="Кадастровые инженеры Новосибирска" />
  <meta property="og:type" content="website" />
<!-- Yandex.Metrika counter -->  <!-- /Yandex.Metrika counter -->

  <link href="{% static 'pkk/css/uikit.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'pkk/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'pkk/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'pkk/css/main.css' %}" rel="stylesheet" type="text/css">


     <!--<script src="https://api-maps.yandex.ru/v3/?apikey=197e81e2-a2b5-4e08-9088-a0b4a3f84da6&lang=ru_RU"></script>-->







  {% block title %}<title>Hello</title>{% endblock title %}
  {% block description %}<title>Hello</title>{% endblock description %}


{% block canonical %}
<link href="{{ request.path }}" rel="canonical">
{% endblock canonical %}

      <style>
		html, body, #map {
			height: 100%;
			margin: 0px;
		}
    </style>

{% block headjscss  %}     {% endblock headjscss  %}


 </head>
 <body style="background: #fbfbfd;">
{% include 'pkk/nav.html' %}

 {% block content %}  <p>Привет, мир</p>{% endblock content %}

<footer class="background-header">
 <div class="container">
 <div class="text-white py-4">© {% now "Y" %} Кадастровые инженеры Новосибирска</div>
 </div>

</footer>



   <script src="{% static 'pkk/js/uikit.min.js' %}" ></script>
   <script src="{% static 'pkk/js/bootstrap.bundle.min.js' %}"></script>

   <script src="https://kit.fontawesome.com/93401b620e.js" crossorigin="anonymous"></script>

{% block bodyjscss  %}     {% endblock bodyjscss  %}

 </body>
</html>