<div class="row">

    <div class="col-12">
    <a class="dropdown-item p-2" href="https://reestr54.ru/kadastrovye-uslugi"> Кадастровые услуги</a>
    <div uk-drop="pos: right-top; offset: 0; animation: slide-left; animate-out: true; duration: 700">
        <div class="menu-card">
            <a class="dropdown-item p-2" href="https://reestr54.ru/kadastrovye-uslugi/uchet-zhilogo-doma"> Регистрация дома</a>
            <a class="dropdown-item p-2" href="https://reestr54.ru/kadastrovye-uslugi/uchet-dachnogo-doma"> Учет дачного дома</a>
            <a class="dropdown-item p-2" href="https://reestr54.ru/kadastrovye-uslugi/uchet-bani"> Учет бани</a>
            <a class="dropdown-item p-2" href="https://reestr54.ru/kadastrovye-uslugi/snyatie-s-ucheta"> Снятие с учета</a>
            <a class="dropdown-item p-2" href="https://reestr54.ru/kadastrovye-uslugi/uchet-garazha"> Учет гаража</a>
            <a class="dropdown-item p-2" href="https://reestr54.ru/kadastrovye-uslugi/tekhnicheskij-plan-zhilogo-doma"> Технический план жилого дома</a>
        </div>
    </div>
    </div>
    <div class="col-12">
    <a class="dropdown-item p-2" href="https://reestr54.ru/mezhevanie"> Межевание</a>
    <div uk-drop="pos: right-top; offset: 0; animation: slide-left; animate-out: true; duration: 700">
        <div class="menu-card">
            <a class="dropdown-item p-2 perenos" href="https://reestr54.ru/mezhevanie/mezhevoj-plan"> Межевой план</a>
            <a class="dropdown-item p-2 perenos" href="https://reestr54.ru/mezhevanie/utochenenie-granic"> Уточнение границ земельного участка</a>
            <a class="dropdown-item p-2 perenos" href="https://reestr54.ru/mezhevanie/ob-edinenie-granic"> Объединение границ земельного участка</a>
            <a class="dropdown-item p-2 perenos" href="https://reestr54.ru/mezhevanie/razdel-granic"> Раздел границ земельного участка</a>
            <a class="dropdown-item p-2 perenos" href="https://reestr54.ru/mezhevanie/pereraspredelenie-granic"> Перераспределение границ земельного участка</a>
            <a class="dropdown-item p-2 perenos" href="https://reestr54.ru/mezhevanie/shema-rasp-zu"> Схема расположения земельного участка</a>
        </div>
    </div>
    </div>

    <div class="col-12">
    <a class="dropdown-item p-2" href="https://reestr54.ru/geodezicheskie-uslugi"> Геодезические услуги</a>
    <div uk-drop="pos: right-top; offset: 0; animation: slide-left; animate-out: true; duration: 700">
        <div class="menu-card">
            <a class="dropdown-item p-2" href="https://reestr54.ru/geodezicheskie-uslugi/topos-emka"> Топографическая съемка</a>
            <a class="dropdown-item p-2" href="https://reestr54.ru/geodezicheskie-uslugi/vynos-tochek-vnaturu"> Вынос участка в натуру</a>
            <a class="dropdown-item p-2" href="https://reestr54.ru/geodezicheskie-uslugi/expertiza-mestopolozh-granic"> Экспертиза местоположения</a>
        </div>
    </div>
    </div>

    <div class="col-12">
    <a class="dropdown-item p-2" href="https://reestr54.ru/other"> Другие услуги</a>
    <div uk-drop="pos: right-top; offset: 0; animation: slide-left; animate-out: true; duration: 700">
        <div class="menu-card">
            <a class="dropdown-item p-2 perenos" href="https://reestr54.ru/other/ustanovlenie-ohrann-i-inyh-zon"> Установление охранных и иных зон (ЗОУИТ)</a>
            <a class="dropdown-item p-2 perenos" href="https://reestr54.ru/other/podgotovka-proekta-mezhevaniya"> Подготовка проекта межевания (планирование территории)</a>
            <a class="dropdown-item p-2 perenos" href="https://reestr54.ru/other/tech-plan-zdaniy"> Технический план нежилых зданий</a>
            <a class="dropdown-item p-2 perenos" href="https://reestr54.ru/other/razrabotka-pzz"> Разработка правил землепользования и застройки (ПЗЗ)</a>
            <a class="dropdown-item p-2 perenos" href="https://reestr54.ru/other/rabota-s-sh-zemlyami"> Работа с землями сельскохозяйственного назначения</a>
            <a class="dropdown-item p-2 perenos" href="https://reestr54.ru/other/tech-plan-dlya-arendy"> Технический план для аренды</a>
        </div>
    </div>
    </div>

</div>