{% extends 'pkk/base.html' %}


  {% block title %}<title>Кадастровые инженеры Новосибирска</title>{% endblock title %}
  {% block description %}
<meta name="description" content="Кадастровые инженеры Новосибирска">
{% endblock description %}



{% block content %}
<div class="container">
    <h1>Публичная кадастровая карта</h1>


    <!-- <script>
        initMap();

        async function initMap() {
            await ymaps3.ready;

            const {YMap, YMapDefaultSchemeLayer} = ymaps3;

            const map = new YMap(
                document.getElementById('map'),
                {
                    location: {
                        center: [37.588144, 55.733842],
                        zoom: 10
                    }
                }
            );

            map.addChild(new YMapDefaultSchemeLayer());
        }
    </script>-->

<div id="map" style="width: 100%; height: 600px"></div>
 <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.easybutton/dist/leaflet.easybutton.js"></script>
    <script src='http://originalsin.github.io/Leaflet.TileLayer.Rosreestr/src/TileLayer.Rosreestr.js'></script>
    <script>
      // Создаем карту
      var map = L.map('map').setView([55.0302, 82.9205], 15); // Новосибирск

      // Добавляем базовые тайлы (Яндекс Карты)
      /*L.tileLayer('https://tiles.api-maps.yandex.ru/v1/tiles/?x=9902&y=5137&z=14&lang=ru_RU&l=map&apikey=5d79c54c-d4f6-44a5-92f5-de2250c24722', {
        attribution: '&copy; <a href="https://yandex.ru/maps/">Яндекс Карты</a>',
        maxZoom: 17
      }).addTo(map);*/

      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> '
}).addTo(map);

       var wmsLayer = L.tileLayer.Rosreestr('https://pkk.rosreestr.ru/arcgis/rest/services/PKK6/CadastreObjects/MapServer/export?layers=show%3A30%2C27%2C24%2C23%2C22&dpi=96&format=PNG32&bboxSR=102100&imageSR=102100&size=1024%2C1024&transparent=true&f=image&bbox={bbox}', {

        tileSize: 1024,
        attribution: 'Публичная кадастровая карта'
       }).addTo(map);




/*      // Добавьте кнопку zoom
      L.easyButton('<span class="fa fa-search-plus"></span>', function(btn, map) {
        map.zoomIn();
      }, 'Увеличить').addTo(map);

      // Добавьте кнопку zoom out
      L.easyButton('<span class="fa fa-search-minus"></span>', function(btn, map) {
        map.zoomOut();
      }, 'Уменьшить').addTo(map);*/
    </script>

</div>
<div class="m-3">
    <form action="" method="POST">
        {% csrf_token %}
        <p><label for="id_1">Кадастровый номер</label><input type="text" name="build_kad_num" id="id_1"></p>
        <p><button type="submit">Отправить</button></p>

    </form>
</div>>

 {% endblock %}