{% extends 'pkk/base.html' %}
{% load static %}


{% block title %}<title>Публичная кадастровая карта {{ region.region_rus_name2 }} {% now "Y" %}</title>{% endblock title %}

{% block description %}<meta name="description" content="Получить полную информацию по земельным участкам и объектам капитального строительства на Публичной кадастровой карте по кадастровому номеру, координатам">{% endblock description %}



{% block headjscss  %}
<link href="{% static 'pkk/css/leaflet.css' %}" rel="stylesheet" type="text/css">
<!--<link href="{% static 'pkk/css/leaflet-measure.css' %}" rel="stylesheet" type="text/css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="{% static 'pkk/js/leaflet.js' %}" ></script>
<script src="{% static 'pkk/js/Leaflet.VectorGrid.bundled.js' %}" ></script>
<!--<script src="{% static 'pkk/js/leaflet-measure.min.js' %}" ></script>-->
<script src="{% static 'pkk/js/TileLayer.Rosreestr.js' %}" ></script>
<script src="/static/pkk/js/leaflet-bing-layer.js"></script>
<link href="{% static 'pkk/css/button.css' %}" rel="stylesheet" type="text/css">
{% endblock headjscss  %}

{% block content %}
<div class="m-auto  " >
    <h1 class="text-center" >Публичная кадастровая карта</h1>
    <div class="position-relative m-auto" style="width: 90%;">
        <div id="map" style="width: 100%; height: 80vh"></div>
        <div class="mx-3 position-absolute formbase" style="top:12px; left: 30px; z-index:999; background-color: white;" >
            <form action="" method="POST" style="" id="form" class="formbody d-flex">
                {% csrf_token %}
                <input type="text" name="build_kad_num" id="id_1" placeholder="Введите кадастровый номер или координаты" style="" class="px-1 inputbody flex-grow-1">
                <button type="submit" style="background-color: white; border: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
                        <path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"></path>
                    </svg>
                </button>
            </form>
        </div>
        <div class="mx-sm-3 position-absolute resultsbody" style="">
            <div class="d-none p-3" id="resulthead"><div class="flex-grow-1" id="noborders"></div><div><button type="button" class="btn-close" id="btn-close" aria-label="Close"></button></div></div>
            <div id="takeorder" class="text-center p-2 d-none" >
                <button onclick="ym(57586846,'reachGoal','pkk-order-regions'); return true;" type="button" class="btn btn-primary animated-button8" id="orderbutton"><span></span><span></span><span></span><span></span>Заказать кадастровые работы</button>
                <div id="wabuttons" class="d-none d-flex justify-content-around orderbuttons">
                    <div >
                        <a style="font-size: 1.25em" target="_blank" rel="noopener noreferrer" href="https://wa.me/79513626504?text=Здравствуйте,%20интересуют%20кадастровые%20работы%20..." aria-label="Custom" >
                            <span class="fa fa-whatsapp fa-2x p-2 p-sm-3 text-success " aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Написать в WhatsApp"></span>
                        </a>
                    </div>
                    <div>
                        <a style="font-size: 1.25em" target="_blank" rel="noopener noreferrer" href="https://t.me/+79513626504?text=Здравствуйте,%20интересуют%20кадастровые%20работы%20..." aria-label="Custom">
                            <span class="fa-brands fa-telegram fa-2x p-2 p-sm-3 text-primary" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Написать в Telegram"></span>
                        </a>
                    </div>
                    <div>
                        <a style="font-size: 1.25em" target="_blank" rel="noopener noreferrer" href="tel:+79513626504" aria-label="Custom">
                            <span class="fa-solid fa-phone p-2 p-sm-3" style="font-size: 1.8em; color: #ff7900;" aria-hidden="true" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" data-bs-title="Позвонить по </br> тел. +7 (383) 223 96 81"></span>
                        </a>
                    </div>
                </div>
            </div>
            <ul class="uk-list uk-list-striped d-none" id="list"></ul>
            <div id="backtolist" class="d-none text-center p-2"><button type="button" class="btn btn-outline-primary" id="btn-back">Вернуться к списку</button></div>
            <div id="result" style=></div>
        </div>
    </div>
</div>

<div class="d-none">
    <div id="region_lat">{{ region.lat }}</div>
    <div id="region_lng">{{ region.lng }}</div>
</div>

{% endblock %}

{% block bodyjscss  %}
<script src="/static/pkk/js/mapinit.js"></script>
<script src="/static/pkk/js/pkk.js"></script>
{% endblock bodyjscss  %}